.trip-list{
    width: 480px;
    margin: 70px auto;
}

.trip-list ul{
    padding: 0;
}

.trip-list li{
    border: 1px solid #e4e4e4;
    list-style-type: none;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0,0, 0, 0.08);
    border-radius: 4px;
    margin: 20px 0;
}

.trip-list .filters{
    display: flex;
    gap: 10px;
}

.trip-list button{
    padding: 10px;
    font-size: 19px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #ccc9e5;
    box-shadow: 8px 7px 8px #e4dede;
    border-color: #e4e4e4;
    font-family: sans-serif;
}

.trip-list button:hover{
    background: #e7dae9;
}
.trip-list button:active{
    background: #e7dae9;
    box-shadow: 1.5px 3px #c7c6c6;
    box-shadow: 10px 4px 8px #e4dede;

}